@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  
}



@theme {
  --color-primary: #09725C;           
  --color-primary-light: #0DA585;    
  --color-accent: #FCD34D;            
  --color-bg: #F9FAFB;                
  --color-card: #FFFFFF;             
  --color-text-dark: #111827;        
  --color-gray: #E5E7EB;              
  --color-gray-soft: #D1D5DB;         
} 


.no-scrollbar::-webkit-scrollbar{
  display: none;
}